{# src/OC/PlatformBundle/Resources/views//Core/contact.html.twig #}

{% extends "OCCoreBundle::home.html.twig" %}

{% block title %}
    Contact - {{ parent() }}
{% endblock %}

{% block core_body %}


    <h1>Contactez nous</h1>

    <hr>


{% endblock %}